<div class="card shadow">

    <div class="card-header text-center fw-bold bg-myprimary fs-5">
        Ajouter Bon Entree
    </div>


    <div class="card-body">
        <div class="container px-3 py-2">
            <app-bon-entree></app-bon-entree>
        </div>
        
        <!-- <hr>

        <div class="container px-3 py-2">
            <app-bon-entree></app-bon-entree>
        </div> -->
    </div>

    <!-- <div class="container px-3 py-2">
        <div class="row mt-5">
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-myprimary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
                    Valider
                </button>
    
                <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                    Retour
                </button>
            </div>
        </div>
    </div> -->


</div>